._alert, ._confirm  {
    width: 88%;
    height: 145px;
    border-radius: 4px; 
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center; 
    margin: auto;
    z-index: 30;
}

._alert h4, ._confirm h4 {
    padding: 18px 0; 
    color: #484848;
}

._alert p {
    color: #cacaca;
    padding-bottom: 26px;
}

._confirm p {
    color: #cacaca;
    padding-bottom: 26px;
}

._alert span {
    line-height: 40px;
    color: #049eff;
    display: block;
}

._prompt {
    border-radius: 4px; 
    width: 88%;
    height: 169px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center; 
    margin: auto;
    z-index: 30;
}

._prompt h4 {
    padding: 18px 0 25px; 
    color: #484848;
}

._prompt input {
    width: 90%;
    outline: none;
    height: 34px;
    margin-bottom: 26px;
}

.info {
    border-top: 1px solid #ccc;
    display: flex;
}

.info span {
    flex: 1;
    text-align: center;
    color: #049eff;
    line-height: 40px;
}

.info span:nth-child(1) {
    color: #000;
    border-right: 1px solid #ccc;
}